<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>THE BOOK <i class="fa fa-book fa-3x"></i> DIRECTORY</h1>
        <p>Create an account</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/dashboard" class="btn btn-dark btn-block mb-2">Dashboard</a>
        <a href="/book" class="btn btn-info btn-block">View Books</a>
      </div>
    </div>
  </div>
  
  