.bg-overlay {
	background-color: #11101066;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.hide-modal {
	display: none;
}

.show-modal {
	display: block;
}

.bg-overlay .container-fluid {
	max-width: 400px;
}
