<%- include('partials/header') %>

<div class="container vh-100 d-flex flex-column justify-content-center text-center">
	<h1>Welcome to Bell Book App</h1>
	<p>You can only access the app if you are <a href="/login">logged in</a> so quickly <a href="/register">register</a> if you haven't</p>
</div>



<%- include('partials/footer') %>